/* Word Cloud page */
#wordCloudHeader{
    color: black;
    text-align: center;
    padding:5px;
    font-family: "Impact", sans-serif;
}
#wordCloud{
    margin: 0 auto;
    background-color:white;
    width:800px;
    height: 600px;
}
#artistSearch{
    margin: 0 auto;
    width: 500px;
}
#search {
    width: 300px;
    float: left;
}
#buttons{
    margin: 0 auto;
    width: 500px;
}
#submit{
    background-color: purple;
    font-family: "Impact", sans-serif;
    font-size: 15px;
    padding: 5px 10px;
}
#addToCloud{
    background-color: purple;
    font-family: "Impact", sans-serif;
    font-size: 15px;
    padding: 5px 10px;
}
#fbShare{
    color: white;
    background-color: royalblue;
    font-family: "Impact", sans-serif;
    font-size: 15px;
    padding: 5px 10px;
}

/* Song List page */
#songHeader {
    color: black;
    text-align: left;
    padding:5px;
    font-family: "Impact", sans-serif;
}
#songTitles {
    width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
#titles{
    float:left;
    width:300px;
}
#frequency{
    float:right;
    width:300px;
}
#backToCloud{
    background-color: purple;
    font-family: "Impact", sans-serif;
    font-size: 15px;
    padding: 5px 10px;
}

/* Lyrics page */
#lyricsHeader {
    color: black;
    text-align: left;
    padding:5px;
    font-family: "Impact", sans-serif;
}
#lyrics{
    float:left;
    width:300px;
    font-family: Arial, sans-serif;
    text-align: left;
}
#toSongList{
    background-color: purple;
    font-family: "Impact", sans-serif;
    font-size: 15px;
    padding: 5px 10px;
}
#toWordCloud{
    background-color: purple;
    font-family: "Impact", sans-serif;
    font-size: 15px;
    padding: 5px 10px;
}